
<% if @user.facebook == false %>


<%= form_for(@profile, :remote => false, :url => users_path, :html => {multipart: true}) do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field centered">
    <%= f.text_field :name %>
  </div>
  <div class="field centered">
    <%= f.text_field :bio %>
  </div>
  
  
  <div class="field centered">
  <div class="form_tags_container" id = "profile_photo_div" style="width:613px">
  	<h5 class = "form_tags_descriptor">Photo (Optional)</h5> <br/>  	  	
	<div class="fileupload fileupload-new" data-provides="fileupload" id = "file_upload">
  		<div class="input-append">
    		<div class="uneditable-input span3" style="width:400px">
    			<i class="icon-file fileupload-exists"></i> 
    			<span class="fileupload-preview">No file added</span>
    		</div>
    		<span class="btn btn-file"><span class="fileupload-new">Select file</span>
    		<span class="fileupload-exists">Change</span><%= f.file_field :photo%>
    		</span><a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
  		</div>
	</div>
  </div>
  </div>
  
  <div class="actions centered btn-group" id = "registration_post_container">
    <%= f.submit "Register", :class => "btn btn-success" %>
  </div>
<% end %>












<%else%>

<%= form_for @profile, :url => users_path do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field centered">
    <%= f.label :name %>
    <%= f.text_field :name, :readonly => true, :style => "background-color: #EBEBE4"%>
  </div>
  <div class="field centered">
    <%= f.label :bio %>
    <%= f.text_field :bio%>
  </div>
  
  <div class="field centered">
  <div class="form_tags_container" id = "profile_photo_div" style="width:613px">
  	<h5 class = "form_tags_descriptor">Photo (Optional)</h5> <br/>  	  	
	<div class="fileupload fileupload-new" data-provides="fileupload" id = "file_upload">
  		<div class="input-append">
    		<div class="uneditable-input span3" style="width:400px">
    			<i class="icon-file fileupload-exists"></i> 
    			<span class="fileupload-preview"></span>
    		</div>
    		<span class="btn btn-file" ><span class="fileupload-new">Select file</span>
    		<span class="fileupload-exists">Change</span><%= f.file_field :photo%>
    		</span><a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
  		</div>
	</div>
  </div>
  </div>
  


  <div class="actions centered">
    <%= f.submit "Register", :class => "btn btn-success" %>
  </div>

<% end %>


<%end%>

  <script id = "form_validations">
  $(function(){
 	$('#registration_post_container > input').off("click").on("click", function(event){
 		
 		if($(this).val()=="Login"){
 			return;
 		}
 		
 		var text = $('span.fileupload-preview').text();
 		if(text.match(/jpe?g|png/) == null && text != "No file added"){
 			event.preventDefault();	
 			$('a.fileupload-exists').click();
 			if($('#img_error').length==0){
 				$('#file_upload').before("<p class = 'form_error' id = 'img_error'>Make sure your picture is a png, jpg, or jpeg file. Click to Dismiss.<br/></p>");
 				$('#profile_photo_div').errorHighlight();
 				
 			}
			else{
				$('#img_error').show();		
			} 			
 		}
	  	
	  	if($('#profile_bio').val().length<10 && false){
			event.preventDefault();
			$('#profile_bio').errorMessage("Make sure your bio is at least 10 characters long");
 		}	 				
		
	  	if($('#profile_name').val().length==0){
			event.preventDefault();
			$('#profile_name').errorMessage("Please enter your name");
 		}	 				
				
	 		
 		$('.form_error').click(function(){$(this).hide()});
		$('a.dismiss_all').click(function(){
			$('.form_error').hide();
		});  	 		
  });
  
  
  });
  </script>
  
  
  <script id = "form_watermarks">
	$.watermark.options.className = 'centered_watermark'; 	
	$.watermark.options.useNative = false;  
  	$('#profile_bio').watermark("Describe yourself (optional)", {className: "centered_watermark"});
  	$('#profile_name').watermark("Name", {className: "centered_watermark"});
  	
  	$('span.fileupload-exists, a.fileupload-exists').click(function(){
  		console.log("clicked");
  		window.setTimeout(function(){
  			$('.fileupload-preview').text("No file added");  			
  		}, 100);
  	});
  </script>
