<h1><%= @profile.name %>'s Profile</h1>
<% if current_user.followings.find_by_followed_user_id(@user.id) == nil %>
<%= link_to "Follow "+@profile.name, follow_user_path(@user.id) %>
<%else %>
<%= link_to "Unfollow "+@profile.name, unfollow_user_path(@user.id) %>
<% end %>
<br/>
<h2> Bio </h2> 
<p> <%= @profile.bio %> </p>
</br> 

<h2> <%= @profile.name %>'s Idea Postings: </h2>
</br>
<%= div_for(@user.idea_postings.all) do |idea_posting| %>
  <h3>
    Name: <%= link_to idea_posting.name, idea_posting %>
  </h3>
	<p>Pitch: <%= idea_posting.pitch %></p>
    <p>Description: <%= simple_format(idea_posting.description)  %></p>
    <p>Tags: 
    	
		<% if idea_posting.tags.length >= 2%>
      	<% (0..idea_posting.tags.length-2).each do |int| %>
    	<%= idea_posting.tags[int].value %>, 
    	<% end %>
    	<%= idea_posting.tags.last.value%>  
    	<%else%>
    	<% idea_posting.tags.each do |tag| %>
    	<%= tag.value%>
    	<%end%>
    	<%end%>
    </p> 
    <%end%>
<br />
<br />

<%= link_to 'Back', root_path %>
