<!--title-->
<div class="header"> 
<h1><%= @profile.name %></h1>
<div class="header_right"></div>
</div>
<br/>

<!--upper content-->
<div class="profile_body_container">
	
	<!--profile picture and follow/edit-->
	<div class="profile_body_left" style="float:left;">
		<%if @profile.photo_file_size != nil%>
			<%= image_tag @profile.photo.url,  :class => "profile_picture"%>
		<%else%>
			<img src="http://upload.wikimedia.org/wikipedia/commons/thumb/9/96/Male_head_silhouette.svg/200px-Male_head_silhouette.svg.png", alt="Profile Picture" width="100" height="100">			
		<%end%>
		<br/>
		<center>
			<% if current_user==@user %>
				<span class="label label-info">
					Edit My Profile
				</span>
			<% else %>
				<% if current_user.followings.find_by_followed_user_id(@user.id) == nil %>
					<span class="label label-success">
						<%= link_to "Follow "+@profile.name, follow_user_path(@user.id), :class=>"follow_edit_link" %>
					</span>
				<%else %>
					<span class="label label-important">
						<%= link_to "Unfollow "+@profile.name, unfollow_user_path(@user.id), :class=>"follow_edit_link" %>
					</span>
				<% end %>
			<% end %>
		</span><center>
	</div>
	
	<!--bio-->
	<div class="profile_body_right">
		<div class="bio">
			<font size="4px"><b> <%= @profile.name %>'s Bio </b></font> 
			<p> <%= @profile.bio %> </p>
		</div>
	</div>
	
</div>
<br/>

<!--lower content-->
<ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
	<li class="active"><a href="#idea_postings" data-toggle="tab">Idea Postings</a></li>
    <li><a href="#responses" data-toggle="tab">Responses</a></li>
</ul>
<div id="my-tab-content" class="tab-content">
    	
	<!--idea postings-->
	<div class="tab-pane active" id="idea_postings">
		<%= div_for(@user.idea_postings.all) do |idea_posting| %>
  			<h3>
    			<%= link_to idea_posting.name, idea_posting %>
  			</h3>
			<p>Pitch: <%= idea_posting.pitch %></p>
    		<p>Description: <%= simple_format(idea_posting.description)  %></p>
    		<p>Tags: 
  				<% (0..idea_posting.tags.length-1).each do |int| %>
					<span class="label">
						<%= idea_posting.tags[int].value %>
					</span> 
				<% end %>
    		</p> 
    		<hr>
    	<%end%> 		
	</div>
        
	<!--responses-->
	<div class="tab-pane" id="responses">
		<%= div_for(@user.postings_commented_on) do |idea_posting| %>
  			<h3>
    			<%= link_to idea_posting.name, idea_posting %>
  			</h3>
			<p>Pitch: <%= idea_posting.pitch %></p>
    		<p>Description: <%= simple_format(idea_posting.description)  %></p>
    		<p>Tags: 
  				<% (0..idea_posting.tags.length-1).each do |int| %>
					<span class="label">
						<%= idea_posting.tags[int].value %>
					</span> 
				<% end %>
    		</p> 
    		<hr>
    	<%end%>		
	</div>
	
</div>

<br />
<br />
<%= link_to 'Back', root_path %>
<br />
