<%= form_for(@joinrequest, :remote => true) do |f| %>
  <% if @joinrequest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@joinrequest.errors.count, "error") %> prohibited this request from being sent:</h2>

      <ul>
      <% @joinrequest.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Message" %><br />
    <%= f.text_field :message %>
    
   
  </div>
  
  	<%= f.hidden_field(:idea_posting_id) %>
    <%= f.hidden_field(:userid)%>

  <div class="actions">
  	<%if current_user.joinrequests_remaining?%>
    <%= f.submit "Send request ("+current_user.joinrequests_remaining.to_s+" left today)", :class => "btn btn-danger" %>
    <%else%>
    <%= f.submit "Send request ("+current_user.joinrequests_remaining.to_s+" left today)", :class => "btn btn-default", :disabled => true %>
    <%end%>

  </div>
<% end %>
