<div>
<%= form_for(@user, :remote => false, :html => {multipart: true}) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %> 
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label "Password"%> 
    <%= f.password_field :password_hash %>
  </div>
  <div class="field" id = "confirm_password">
  	<%= f.label "Confirm Password"%> 
  	<%= f.password_field :password_hash_confirmation %>
  </div>
    
  
<%= render "profiles/form"%>  

<% end %>

  <script>
  
$(function(){
  $('#registration_post_container > input').click(function(){
  		if($('#user_email').val().match(/[a-zA-Z0-9]+@[a-zA-Z]+[.][a-zA-Z.]+/) == null){
			event.preventDefault();
			$('#user_email').errorMessage("Please enter a valid email address");
 		}	 				
		
	  	if($('#user_password_hash').val().length < 6){
			event.preventDefault();
			$('#user_password_hash').errorMessage("Make sure your password is at least 6 characters long");
 		}	
 		
	  	if($('#user_password_hash_confirmation').val() != $('#user_password_hash').val() ){
			event.preventDefault();
			$('#user_password_hash_confirmation').errorMessage("Password does not match confirmation");
 		}	 		
  });	
	
});  


 		
  </script> 	

</div>








