<div>
<%= form_for(@user, :remote => false, :html => {multipart: true}) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %> 
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label "Password"%> 
    <%= f.password_field :password_hash %>
  </div>
  <div class="field" id = "confirm_password">
  	<%= f.label "Confirm Password"%> 
  	<%= f.password_field :password_hash_confirmation %>
  </div>
  
<%= render "profiles/form"%>  

<% end %>

</div>








