
<h1>Please enter a new password below</h1>


	<%= form_tag(reset_password_path) %>
	<%= label_tag(:password_hash, "New Password") %>
	<%= password_field_tag(:password_hash) %>
	<%= label_tag(:password_hash_confirmation, "Confirm Password") %>
	<%= password_field_tag(:password_hash_confirmation)%> 
	<%= hidden_field_tag(:reset_code) %>
	<%= submit_tag("Send reset request")%>

	

