
<h1>Please enter a new password below</h1>


<%= form_for(@user, :url => reset_password_path(@reset_code)) do |f| %>


  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this idea_posting from being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label "Password"%> <br />
    <%= f.password_field :password_hash %>
  </div>
  <div class="field"
  	<%= f.label "Confirm Password"%> <br />
  	<%= f.password_field :password_hash_confirmation %>
  </div>
	
  <div class="actions">
    <%= f.submit "Reset Password" %>
  </div>
<%end%>
	

