
$('#wrapper').html('<%= j render('form')%>');
$('.new_user').before('<h2><%="Step 1/3"%> </h2><h3> <%= "Enter your email and password" %></h3>');
$('.new_user > .actions > input').attr("class", "btn btn-primary");




$('#user_password_hash').click(function(){
	$('#user_email').bind('keyup', function(){ 
		$.get('/existing_user', {email: $('#user_email').val()}, function(data){

		var response_value = $(data).text();
		$('#user_exists').remove();
		if (response_value=="false"){
			$('#confirm_password').show();
			$('.new_user').attr('action', 'users');
		    $('#new_user > .actions > input').attr('value', "Register");			
		}
		
		else{
		    $('#user_password_hash').before('<p id = "user_exists"><%= j "A user with this email exists. Enter your password to login, or choose a different email"%> <br/> <%= link_to 'Forgot password?', new_pw_reset_path%> </p>');
		    var email_position = $('#user_email').position();
		    
		    
		    $('#user_exists').css({'top' : email_position.top-18, 'left' : email_position.left+230, 'position' : 'absolute'});						
		
			$('#confirm_password').hide();
		    $('.new_user').attr('action', 'session');
		    $('#new_user > .actions > input').attr('value', "Login");


		}
	
	}, "html"
	);	
	
	});
	
	$('#user_email').keyup();
	
});






