<% if false %>
<%= "This page is where the user inputs an email to send a reset request"%>

<%= form_tag(send_pw_reset_path) do |f| %>
	<%= f.label "Email" %>
	<%= f.text_field :email %>
	<%= f.hidden_field(:id, :value => @user.id) %>
	<%= f.submit %>
	
	
<% end %>

<% end%>

<p> Type in your email and we'll send you an email with a link to reset your password. <br/>
	If you registered through facebook and would like to login without it, you can request a password here.
</p>

<%= form_tag(send_pw_reset_path) %>
	<div class = "field">
	<%= label_tag(:email, "Email: ") %> <br/> 
	<%= text_field_tag(:email) %> <br/> 
	<%= submit_tag("Send reset request")%>
	</div>
