<%= div_for idea_posting do %>
  <h3>
    Idea posting title: <%= link_to idea_posting.name, idea_posting %>
  </h3>
  <% if @check == true %>
    <p>Pitch: <%= idea_posting.pitch %></p>
    <p>Description: <%= idea_posting.description %></p>
    <p>Tags: <%= idea_posting.tags %></p>
  <% end %>
  <%= link_to 'Show', idea_posting %>
  <%= link_to 'Edit', edit_idea_posting_path(idea_posting) %>
  <%= link_to 'Destroy', idea_posting, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>