<%= render @idea_posting %>


<h4>Owners (from User model)</h4>
<%= render @idea_posting.users %>

<h4>Comments</h4>

<%= render @idea_posting.feedbacks %>
<%= render :file => 'feedbacks/new' %>

<%= link_to 'Back', idea_postings_path %>