<%if feedback.topic %>
<div class = "text-centered" id = "text-centered">
<h4><%= link_to "Back", "#", :id => "back_to_topic_list"%></h4>	
<h4><%= feedback.title%></h4>

</div>
<%end%>

<%= div_for(feedback) do %>
  	<div class= <%= feedback.topic ? "topic " : "reply "%>>
  	
	  	<table cellpadding="5" class = <%= from_followed_user?(feedback) ? "followed_post" : "unfollowed_post"%>>
			<tr style="">
		  		<td class="shrink" style="float:left;">
					<img src="https://profile-a.xx.fbcdn.net/hprofile-ash4/c178.0.604.604/s160x160/252231_1002029915278_1941483569_n.jpg", alt="Profile Picture" width="50" height="50">
		  		</td>
		  		<td class="expand" style="">
		
	      				<%= link_to feedback.user.profile.name, user_profiles_path(feedback.user_id), class: "profile_link" %>
	      			<%= feedback.created_at.to_formatted_s(:normal_format) %>
				 	<span id = "feedback_body_<%=feedback.id.to_s%>">
				    	<%= simple_format(feedback.body) %>
				    </span>
		    		 
		    		
		    		<div class="feedback_content_container" style="clear:both;">
						<div class = 'feedback_help'>
							<% if feedback.upvoted_by?(current_user) %>
					      		<%= link_to image_tag('thumbs_up_black.png', id: 'thumbs_up'), helpful_path({id: @idea_posting.id, feedback_id: feedback.id}), format: :js, remote: true %>							
							<%else%>
					      		<%= link_to image_tag('thumbs_up.png', id: 'thumbs_up'), helpful_path({id: @idea_posting.id, feedback_id: feedback.id}), format: :js, remote: true %>
					      	<%end%>
					      	<div class = 'help'>
					        	<%= feedback.help %>
					      	</div>
					      	<% if feedback.downvoted_by?(current_user) %>
					      		<%= link_to image_tag('thumbs_down_black.png', id: 'thumbs_down'), unhelpful_path({id: @idea_posting.id, feedback_id: feedback.id}), format: :js, remote: true %>					      	
					      	<%else%>
					      		<%= link_to image_tag('thumbs_down.png', id: 'thumbs_down'), unhelpful_path({id: @idea_posting.id, feedback_id: feedback.id}), format: :js, remote: true %>
					      	<%end%>
					    
						</div>
						<br/>
					    <div class = "feedback_links_<%=feedback.id%>">
					    <%if logged_in?%>
					      <%= link_to 'Reply', new_reply_path(@idea_posting.id, feedback.id), class: "reply_link reply_link_"+feedback.id.to_s, remote: true%>
					      <% if current_user.feedbacks.exists?(feedback) && Time.now-feedback.created_at < 3600%>
					      <%= link_to 'Edit', edit_idea_posting_feedback_path(@idea_posting.id, feedback.id), class: "edit_link edit_link_"+feedback.id.to_s, remote: true%>
					      	<% if feedback.feedbacks == [] %>
					  			<%= link_to 'Delete', idea_posting_feedback_path(@idea_posting.id, feedback.id), class: "delete_link", method: :delete, :remote => true, data: { confirm: 'Are you sure?' } %>
					     	 <%end%>
					      <% end %>
					    <%end%>
					    </div>


					</div>
			 	
		  		</td>
		  	</tr>
		</table>
		
		
		<div class = "child_feedbacks child_feedbacks_<%=feedback.id.to_s%>"> <%= render feedback.feedbacks%> </div>
			
  	</div>
  	
<% end %>




