
<% if @replying %>

<%= form_for(@feedback.feedbacks.new, :remote => true, :id => "public_feedback_form", :url => 
create_reply_path(@idea_posting.id, @feedback.id)) do |f| %>

  	<% if @feedback.errors.any? %>
      <div id="error_explanation">
      <h2><%= pluralize(@feedback.errors.count, "error") %> prohibited this feedback from being saved:</h2>
      <ul>
      <% @feedback.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  	<% end %>
  	
  	<%if @feedback.topic%>
  		<%= f.hidden_field :root_id, :value => @feedback.id %>
  	<%else%>
  		<%= f.hidden_field :root_id, :value => @feedback.root_id %>
  	<%end%>
    <%= f.text_area :body, :class => "feedback_body" %><br />
    <%if current_user.feedbacks_remaining? %>
    	<%= f.submit "Reply ("+current_user.feedbacks_remaining.to_s+" left today)", :class => "submit_feedback btn btn-default", :id => "submit_reply" %>
    <%else%>
    	<%= f.submit "Reply ("+current_user.feedbacks_remaining.to_s+" left today)", :class => "submit_feedback btn btn-default", :id => "submit_reply", :disabled => true %>
    <%end%>
<% end %>
<%= button_to "Cancel", cancel_reply_path(@idea_posting.id, @feedback.id), :remote => true, :class => "btn btn-default" %>


<%end%>


<%if @editing %>

<%= form_for(@feedback, :remote => true,
 :id => "public_feedback_form", :url => update_idea_posting_feedback_path) do |f| %>

  	<% if @feedback.errors.any? %>
      <div id="error_explanation">
      <h2><%= pluralize(@feedback.errors.count, "error") %> prohibited this feedback from being saved:</h2>
      <ul><
      <% @feedback.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
    <%= f.text_area :body, :class => "feedback_body" %><br />
    <%= f.submit "Update", :class => "submit_feedback", :id => "submit_update", :class => "btn btn-default"%>
<% end %>
<%= button_to "Cancel", cancel_reply_path(@idea_posting.id, @feedback.id), :remote => true, :class => "btn btn-default" %>

<%end%>
