
$('.feedback_error').remove();
<%unless @failed_to_post%>
$('#feedback_<%=@feedback.id%> >>> .reply_link').unbind('click', false).css('color', 'black');
$('#feedback_<%=@feedback.id%> >>> .edit_link').unbind('click', false).css('color', 'black');
$('#feedback_<%=@feedback.id%> >>> .reply_form').remove(); /* the reply form div selected in this line was inserted into the div_for(feedback) div in new_reply.js.erb */

<%if @feedback.topic%>
$('#feedback_<%=@feedback.id%> > .topic > .child_feedbacks').append('<%= j render(@child) %>');
<%else%>
$('#feedback_<%=@feedback.id%> > .reply > .child_feedbacks').append('<%= j render(@child) %>');
<%end%>

$('#feedback_<%=@feedback.id%>').each(function(){
	
	/* REDUCING THE SIZE OF THE DIV THAT IS BEING REPLIED TO */
	var feedback_height=$(this).height();
	var child_height =$('#feedback_<%=@child.id%>').height();
	$(this).height(feedback_height-386+child_height); /* take away the height needed for the form (386px), add in enough height to insert the child div */
	
	
	/* REDUCING THE HEIGHT OF THE HIGHEST TIER FEEDBACK DIV (FEEDBACK DIV FOR TOPIC) */
	var topic_div = $(this).parents('.topic');
	var root_feedback_div = topic_div.parent('.feedback');
	var root_feedback_div_height = root_feedback_div.height();
	root_feedback_div.height(root_feedback_div_height+child_height-386);
	
	
	/* REDUCING THE SIZE OF ALL THE PARENT REPLY DIVS FOR THE FEEDBACK BEING POSTED */
		$('#feedback_<%=@feedback.id%>').parents('.reply').each(function(){
		var parent_feedback = $(this).parent('.feedback');
		var parent_feedback_height = parent_feedback.height();
		parent_feedback.height(parent_feedback_height-386+child_height);
	});
	
});

<%else%>
$('#feedback_<%=@feedback.id%> >>>> .new_feedback').show().before('<p class="feedback_error"><br/><%= j "Message must be between 10 and 1000 characters" %></p>');
<%end%>




