$('.feedback_error').remove();


<% if @failed_to_post %>

$('.topic_form_header').after('<br/><p class="feedback_error"><%= j @error_message %></p>');

<%else%>

	/*
	* $('#existing_feedback').html("<%= escape_javascript render @idea_posting.feedbacks %>");
	* $('#existing_private_feedback').html("<%= escape_javascript render 'private_feedbacks' %>");
	*/
	

	$('.new_feedback').find('#feedback_body').val("");
	$('.new_feedback').find('#feedback_title').val("");	

<%if @feedback.private%>
	$('#existing_private_feedback').loadPrivateTopics(<%=@idea_posting.id%>);
<%else%>
	$('#existing_feedback').loadPublicTopics(<%=@idea_posting.id%>);
<%end%>

	$('#create_topic').val('Create topic (<%=current_user.topics_remaining%> left today)');	
	if(<%=current_user.topics_remaining%> == "0"){
		$('#create_topic').attr("disabled", true);
		$('#create_topic').attr("class", "btn btn-default create_topic")
	}
					
<%end%>

