
$('.feedback_error_<%=@feedback.id%>').remove();
<%if @failed_to_post == false%>
$('#feedback_<%=@feedback.id%>').find('.reply_link_<%=@feedback.id%>').unbind('click', false).css('color', 'black');
$('#feedback_<%=@feedback.id%>').find('.edit_link_<%=@feedback.id%>').unbind('click', false).css('color', 'black');
$('#feedback_<%=@feedback.id%>').find('.reply_form_<%=@feedback.id%>').remove(); /* the reply form div selected in this line was inserted into the div_for(feedback) div in new_reply.js.erb */

<%if @feedback.topic%>
$('#feedback_<%=@feedback.id%>').find('.child_feedbacks_<%=@feedback.id%>').append('<%= j render(@child) %>');
<%else%>
$('#feedback_<%=@feedback.id%>').find('.child_feedbacks_<%=@feedback.id%>').append('<%= j render(@child) %>');
<%end%>

<%if false%>
$('#feedback_<%=@feedback.id%>').each(function(){
	
	/* REDUCING THE SIZE OF THE DIV THAT IS BEING REPLIED TO */
	var feedback_height=$(this).height();
	var child_height =$('#feedback_<%=@child.id%>').height();
	$(this).height(feedback_height-386+child_height); /* take away the height needed for the form (386px), add in enough height to insert the child div */
	
	
	/* REDUCING THE HEIGHT OF THE HIGHEST TIER FEEDBACK DIV (FEEDBACK DIV FOR TOPIC) */
	var topic_div = $(this).parents('.topic');
	var root_feedback_div = topic_div.parent('.feedback');
	var root_feedback_div_height = root_feedback_div.height();
	root_feedback_div.height(root_feedback_div_height+child_height-386);
	
	
	/* REDUCING THE SIZE OF ALL THE PARENT REPLY DIVS FOR THE FEEDBACK BEING POSTED */
		$('#feedback_<%=@feedback.id%>').parents('.reply').each(function(){
		var parent_feedback = $(this).parent('.feedback');
		var parent_feedback_height = parent_feedback.height();
		parent_feedback.height(parent_feedback_height-386+child_height);
	});
	
});
<%end%>


<%else%>
$('.reply_form_<%=@feedback.id%> > .new_feedback').show().before('<p class="feedback_error_<%=@feedback.id%>">Make sure your reply is 10-1000 characters long</p>');
<%end%>




