$('.feedback_error').remove();


<% if @failed_to_post %>

$('.topic_form_header').after('<br/><p class="feedback_error"><%= j @error_message %></p>');

<%else%>

	/*
	* $('#existing_feedback').html("<%= escape_javascript render @idea_posting.feedbacks %>");
	* $('#existing_private_feedback').html("<%= escape_javascript render 'private_feedbacks' %>");
	*/
	

	$('.new_feedback').find('#feedback_body').val("");
	$('.new_feedback').find('#feedback_title').val("");	
	$('#header_row').after('<%= j render :partial => "idea_postings/topics_list_row", :locals => {:feedback => @feedback}%>');
	$('#create_topic').val('Create topic (<%=current_user.topics_remaining.to_s%> left today)');	
					
<%end%>

