

$('#feedback_<%=@feedback.id%>').each(function(){
	
	

	var topic_div = $(this).parents('.topic');
	var topic_div_height = topic_div.height();
	var root_feedback_div = topic_div.parent('.feedback');
	var root_feedback_div_height = root_feedback_div.height();
	
	var feedback_height=$(this).height();		
	
	root_feedback_div.height(root_feedback_div_height+386);
	
	<%unless @feedback.topic%>
	
	$('#feedback_<%=@feedback.id%>').parents('.reply').each(function(){
		var parent_feedback = $(this).parent('.feedback');
		var parent_feedback_height = parent_feedback.height();
		parent_feedback.height(parent_feedback_height+386);
	});
	
	<%end%>	
	
	$(this).height(feedback_height+386);

	

});

$('#feedback_<%=@feedback.id%> >>> .feedback_links').after('<div class = "reply_form"><br/><%= j render('form')%></div>');

 
/* form is inserted after link to allow it to remain within the div for the parent feedback
 * this makes it possible to hide only the form that is submitted in create_reply.js.erb
 * (e.g. if the user has two forms open to reply to two different parent feedbacks, he can submit one form without hiding the other)
 */ 

$('#feedback_<%=@feedback.id%> >>>> .edit_link').css("color", 'grey').bind('click', false);
$('#feedback_<%=@feedback.id%> >>>> .reply_link').css("color", 'grey').bind('click', false);







