
$('.feedback_error').hide();
<%if @updated %>
$('#feedback_<%=@feedback.id%> >>>> .reply_link').unbind('click', false).css('color', 'black');
$('#feedback_<%=@feedback.id%> >>>> .edit_link').unbind('click', false).css('color', 'black');
$('#feedback_<%=@feedback.id%> >>> .reply_form').remove(); /* the reply form div selected in this line was inserted into the div_for(feedback) div in new_reply.js.erb */
$('#feedback_<%=@feedback.id%> >>>> #feedback_body').html('<%=j @feedback.body %>');

$('#feedback_<%=@feedback.id%>').each(function(){
	
	/* REDUCING THE SIZE OF THE DIV THAT IS BEING REPLIED TO */
	var feedback_height=$(this).height();
	$(this).height(feedback_height-386); /* take away the height needed for the form (386px) */
	
	
	/* REDUCING THE HEIGHT OF THE HIGHEST TIER FEEDBACK DIV (FEEDBACK DIV FOR TOPIC) */
	var topic_div = $(this).parents('.topic');
	var root_feedback_div = topic_div.parent('.feedback');
	var root_feedback_div_height = root_feedback_div.height();
	root_feedback_div.height(root_feedback_div_height-386);
	
	
	/* REDUCING THE SIZE OF ALL THE PARENT REPLY DIVS FOR THE FEEDBACK BEING POSTED */
		$('#feedback_<%=@feedback.id%>').parents('.reply').each(function(){
		var parent_feedback = $(this).parent('.feedback');
		var parent_feedback_height = parent_feedback.height();
		parent_feedback.height(parent_feedback_height-386);
	});
	
});

<%else%>
$('.edit_feedback').before('<br/><p class="feedback_error"><%= j "Message must be between 10 and 1000 characters" %></p>');
<%end%>




