<%= form_for(@idea_posting) do |f| %>
  <% if @idea_posting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@idea_posting.errors.count, "error") %> prohibited this idea_posting from being saved:</h2>
      <ul>
      <% @idea_posting.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %><br />
  </div>

  <div class="field">
    <%= f.label :pitch %><br />
    <%= f.text_field :pitch %><br />
  </div>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %><br />
  </div>





<% @tags.each do |tag| %>

<%= check_box_tag(tag,tag)%>
<%= label_tag(tag,tag)%>

<%end%>



<% if false%>
<%= check_box_tag(@tags[0], @tags[0])%>
<%= label_tag(@tags[0], @tags[0]) %>

<%= check_box_tag(@tags[1], @tags[1])%>
<%= label_tag(@tags[1], @tags[1]) %>

<%= check_box_tag(@tags[2], @tags[2])%>
<%= label_tag(@tags[2], @tags[2]) %>

<%= f.fields_for :tags, @idea_posting.tags do |tag| %>
	<%= tag.check_box :value %>
<%end%>
<%end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


