<%if current_user != nil%>

<%= form_for(@idea_posting == nil ? IdeaPosting.new : @idea_posting, :id => "new_idea_posting_form", :remote => true) do |f|%>


  <div class="field" id = "name_div">
  	<%= link_to image_tag("caret_down.png", :id => "caret_down", :class => "form_caret", :height => "12px", :width => "12px"), "#"%>  	
  	<%= link_to image_tag("caret_up.png", :id => "caret_up", :class => "form_caret", :height => "12px", :width => "12px"), "#"%>  	  	
    <%= f.text_field :name %><br />
  </div>

  <div class="field" id = "pitch_div">
    <%= f.text_field :pitch %><br />
  </div>

  <div class="field">
    <%= f.text_area :description %><br />
  </div>
  
  <div class="form_tags_container" id = "photo_div">
  	<h5 class = "form_tags_descriptor">Project Photo</h5> <br/>  	  	
	<div class="fileupload fileupload-new" data-provides="fileupload" id = "file_upload">
  		<div class="input-append">
    		<div class="uneditable-input span3" style="width:400px">
    			<i class="icon-file fileupload-exists"></i> 
    			<span class="fileupload-preview"></span>
    		</div>
    		<span class="btn btn-file"><span class="fileupload-new">Select file</span>
    		<span class="fileupload-exists">Change</span><%= f.file_field :photo%>
    		</span><a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
  		</div>
	</div>
  </div>
	
	
	<div class = "form_tags_container">
  		<h5 class = "form_tags_descriptor" >Project Options</h5> <br/>
  		<ul class= "nav nav-pills form_tags"  id = "form_options">
  			<%if session[:facebook]%>
  				<li class = "inactive" id = "under_execution"><a href = "#">Started Project Already?</a></li>
  				<li class = "inactive" id = "facebook"><a href = "#">Post to Facebook</a></li>
  				<li class = "inactive" id = "photo"><a href = "#">Add Photo</a></li>			
  			<%else%>
  				<li class = "inactive" id = "under_execution" style="margin-left:70px"><a href = "#">Started Project Already?</a></li>  	
  				<li class = "inactive" id = "photo"><a href = "#">Add Photo</a></li>	
  			<%end%>  		
  		</ul>
  	</div>
  	
  	<div class = "form_tags_container">
  		<h5 class = "form_tags_descriptor">Categories</h5> <br/>  	
		<ul class="nav nav-pills form_tags" id = "form_categories">
  			<li class = "inactive" id = "technology"> <a href="#">Technology</a> </li>
  			<li class = "inactive" id = "science_and_math"><a href="#">Science & Math</a></li>
  			<li class = "inactive" id = "research"><a href="#">Research</a></li>
  			<li class = "inactive" id = "language"><a href="#">Language</a></li>  
  		</ul>
		<ul class="nav nav-pills form_tags" id = "form_focus">
  			<li class = "inactive" id = "making_things"> <a href="#">Making Things</a> </li>
  			<li class = "inactive" id = "art"><a href="#">Art</a></li>
  			<li class = "inactive" id = "community_service"><a href="#">Community Service</a></li><br/><br/>
  		<div class="actions" id = "form_post_container">
    		<%= f.submit "Share your Idea", :class => "btn btn-success" %>
  		</div> 			
		</ul>
	
	</div>
<br/>

<%if @idea_posting != nil%>


	

	<script>
	$(function(){
		$('.edit_idea_posting').attr("id", "new_idea_posting");		
	});

	</script>
	
	<%= render "scripts/idea_postings_form_js" %>		
	
	<script>
	
	$(function(){

		$('#caret_up').remove();
		$('#caret_down').remove();
		$('#idea_posting_name').click()
		$('#idea_posting_name').off("click");			
	});		
	</script>		

<%end%>



<%end%>

<%else%>
<br/><br/><br/><br/>
<%end%>
