

<%= div_for idea_posting, :class => "posting_details" do %>
  
  <h3>
    <%= link_to idea_posting.name, idea_posting %>
  </h3>
  
  <!--User Header-->
  <table cellpadding="5">
	<tr>
  		<td id="menu" style="float:left; background-color:#EEEEEE;">
  			<%if idea_posting.photo_file_size == nil %>
				<%= image_tag "light_bulb.png", :class => "idea_posting_picture"%>
			<%else%>
				<%= image_tag idea_posting.photo_url, :class => "idea_posting_picture" %>
			<%end%>
			
  		</td>
  		<td id="content" width="90%" style="background-color:#EEEEEE;">
    		
    		<div style="font-size:18px;">
    			<b><%= idea_posting.pitch %></b>
    		</div>

    		<div style="font-size:16px;"> 
    		 <% @idea_posting.users.each do |user| %>
				<%= link_to user.profile.name, user_profiles_path(user.id) %>
			<% end %>
			</div>
			
 			<% if idea_posting.state == true %>
    			<span class="badge badge-success">Under Execution</span>	      	
   			<% else %>
  				<span class="badge badge-info">In Development</span>	      	
 			<% end %>
			 	
  		</td>
  	</tr>
  </table>
  <br/>

  <!--description body-->    
  <div style="clear:both;">
    <%= simple_format(idea_posting.description) %>
  </div>
  
  <!--images-->    
  <div style="clear:both;">
    <%= simple_format(idea_posting.description) %>
  </div>  
    
    <p>Tags: 
		<% if idea_posting.tags.length >= 2%>
      		<% (0..idea_posting.tags.length-1).each do |int| %>
    			<span class="label">
    				<%= idea_posting.tags[int].value %>
    			</span> 
    		<% end %>  
    	<%else%>
    		<% idea_posting.tags.each do |tag| %>
    		<span class="label">
    			<%= tag.value%>
    		</span>
    		<%end%>
    	<%end%>
	</p>
</div>

  <% if @user != nil%>

  <% if idea_posting.users.exists?(@user.id)%>
  <div class = "modification_links">  
  	<%= link_to 'Edit', edit_idea_posting_path(idea_posting) %>
  	<%= link_to 'Destroy', idea_posting, method: :delete, data: { confirm: 'Are you sure?' } %>
	<a href="#" 
  		onclick="
    		window.open(
      			'https://www.facebook.com/sharer/sharer.php?'+
      			'u='+encodeURIComponent(location.href), 
      			'facebook-share-dialog', 
      			'width=626,height=436'); 
        	return false;">
  	Share on Facebook
	</a>  	
  	
 </div>  	
  <%end%>
  
  <% if logged_in? && @user.idea_postings.exists?(@idea_posting.id) == false %>
  		<%unless @user.join_requests_mades.exists?(:idea_posting_id => @idea_posting.id) %>
  		<%= button_to 'Request to Join', new_idea_posting_joinrequest_path(idea_posting.id), :remote => true, :id => "new_joinrequest", :method => :get%>
  		<%else%>
  		<h3>Request to join project sent</h3>
  		<%end%>	
  <%end%>
  <%end%>
  
  <br/>
  
<% end %>