<%= div_for idea_posting do %>
  <h3>
    Name: <%= link_to idea_posting.name, idea_posting %>
  </h3>
    <p>Pitch: <%= idea_posting.pitch %></p>
    <p>Description: <%= simple_format(idea_posting.description) %></p>
    <p>Tags: 
		<% if idea_posting.tags.length >= 2%>
      		<% (0..idea_posting.tags.length-2).each do |int| %>
    			<%= idea_posting.tags[int].value %>, 
    		<% end %>
    		<%= idea_posting.tags.last.value%>  
    	<%else%>
    		<% idea_posting.tags.each do |tag| %>
    			<%= tag.value%>
    		<%end%>
    	<%end%>
	</p>

  <% if @user != nil%>
 
  <% if idea_posting.users.exists?(@user.id)%>
  	<%= link_to 'Edit', edit_idea_posting_path(idea_posting) %>
  	<%= link_to 'Destroy', idea_posting, method: :delete, data: { confirm: 'Are you sure?' } %>
  <%end%>
  
  <% if logged_in? && @user.idea_postings.exists?(@idea_posting.id) == false %>
  		<%unless @user.join_requests_mades.exists?(:idea_posting_id => @idea_posting.id) %>
  		<%= button_to 'Request to Join', new_idea_posting_joinrequest_path(idea_posting.id), :remote => true, :id => "new_joinrequest", :method => :get%>
  		<%else%>
  		<h3>Request to join project sent</h3>
  		<%end%>	
  <%end%>
  <%end%>
<% end %>