<div id = "start_of_results">

<%= div_for(@idea_postings) do |idea_posting| %>
  <div class = 'voting'>
  	<div class = 'voting_button'>
    <% if logged_in? %>
      <% if current_user.posting_votes.include? idea_posting.id %>
        <%= button_to '+', unvote_path(idea_posting.id), :class => "vote_button unvote_button", :remote => true %>
      <% else %>
        <%= button_to '+', upvote_path(idea_posting.id), :class => "vote_button upvote_button", :remote => true %>
      <% end %>
    <% else %>
      <%= button_to '+', upvote_path(idea_posting.id), :class => "vote_button upvote_button", :remote => true %>
    <% end %>
    </div>
    <div class = 'potential'>
      <%= idea_posting.potential %>
    </div>
  </div>
  <div class = 'posting'>
    <div class = 'thumbnail'></div>
    <div class = 'brief'>
      <h2 class = 'title'><%= link_to idea_posting.name, idea_posting %></h2>
      <p class = 'owners'>by <% idea_posting.users.each do |user| %><%= link_to user.profile.name + ", ", user_profiles_path(user.id) %><% end %></p>
      <h3 class = 'pitch'>Pitch: <%= simple_format(idea_posting.pitch) %></h3>
      <h3 class = "tags">Tags: 
		<% if idea_posting.tags.length >= 2%>
      	<% (0..idea_posting.tags.length-2).each do |int| %>
    	<%= idea_posting.tags[int].value+", " %>
    	<% end %>
    	<%= idea_posting.tags.last.value%>  
    	<%else%>
    	<% idea_posting.tags.each do |tag| %>
    	<%= tag.value%>
    	<%end%>
    	<%end%>
      </h3>
    </div>
  </div>
<% end %>

</div>


<div id = "end_of_results"></div>



