<h1>Idea Postings</h1>

<%= div_for(@idea_postings) do |idea_posting| %>
  <div class = 'voting'>
    <%= button_to '+', upvote_path(idea_posting.id, format: :js), remote: true %>
    <div class = 'potential'>
      <%= idea_posting.potential %>
    </div>
    <%= button_to '-', downvote_path(idea_posting.id), format: :js, remote: true %>
  </div>
  <div class = 'posting'>
    <div class = 'thumbnail'></div>
    <div class = 'brief'>
      <h2 class = 'title'><%= link_to idea_posting.name, idea_posting %></h2>
      <p class = 'owners'>by <% idea_posting.users.each do |user| %><%= link_to user.profile.name + ", ", user_profiles_path(user.id) %><% end %></p>
      <h3 class = 'pitch'>Pitch: <%= idea_posting.pitch %></h3>
      <h3>Tags: <%= idea_posting.tags %></h3>
    </div>
  </div>
<% end %>
 

