
<div id = "start_of_results">
	
<h1 id="index_heading">Idea Postings</h1>

	
<%= render "form" %>

<%= div_for(@idea_postings) do |idea_posting| %>
  <div class = 'voting'>
  	<div class = 'voting_button'>
    <% if logged_in? %>
      <% if current_user.posting_votes.include? idea_posting.id %>
        <%= button_to '+', unvote_path(idea_posting.id), :class => "vote_button unvote_button", :remote => true %>
      <% else %>
        <%= button_to '+', upvote_path(idea_posting.id), :class => "vote_button upvote_button", :remote => true %>
      <% end %>
    <% else %>
      <%= button_to '+', upvote_path(idea_posting.id), :class => "vote_button upvote_button", :remote => true %>
    <% end %>
    </div>
    <div class = 'potential'>
      <%= idea_posting.potential %>
    </div>
  </div>
  <div class = 'posting'>
    <div class = 'thumbnail'>
    	<%if idea_posting.photo_file_size != nil%> 
    		<%= image_tag idea_posting.photo_url%> 
    	<%end%>
    </div>
    <div class = 'brief'>
      <h2 class = 'title'><%= link_to idea_posting.name, idea_posting %></h2>
      <p class = 'owners'>by <% idea_posting.users.each do |user| %><%= link_to user.profile.name + ", ", user_profiles_path(user.id) %><% end %></p>
      <h3 class = 'pitch'>Pitch: <%= simple_format(idea_posting.pitch) %></h3>
	  <div class = "tags">
    		<% idea_posting.tags.each do |tag| %>
    			<h4 class = "inline_tag">
    			<span class="label label-success">
    				<%= tag%>
    			</span>
    			</h4>
    		<%end%>		
	  </div>
    </div>
  </div>
<%end%>


</div>

<%= render "scripts/idea_postings_form_js"%>

<script>
$(function(){
	$('#caret_up_gray, #caret_down_gray').css({"top" : "0px"});
});
</script>

<div id = "end_of_results"></div>



