<h2>Posting Details</h2>

<%= render @idea_posting %>

<p>----------------------------</p>

<h2>Feedback</h2>

<div class="feedback" id ="existing_feedback"><%= render @idea_posting.public_feedbacks %></div> 
<br/>
<p>----------------------------</p>

<% if logged_in? %>
<h2>Add feedback</h2>
<%= form_for([@idea_posting, @idea_posting.feedbacks.new], :remote => true, :id => "public_feedback_form") do |f| %>
    <%= f.label :body %><br />
    <%= f.text_area :body, :id => "feedback_body"%><br />
    <%= f.hidden_field :topic, :value => true%>
    <%= f.submit 'Provide feedback' %>
<% end %>
<br/>

<p>----------------------------</p>

<br />
<% if @idea_posting.users.exists?(current_user.id) || current_user.teacher || current_user.admin %>
	<h2>Private Discussion</h2>
	<div id="existing_private_feedback">
	<%= render @idea_posting.private_feedbacks%>
	</div>
	<p>----------------------------</p>

	<h2>Add private feedback</h2>
	<%= form_for([@idea_posting, @idea_posting.feedbacks.new], :remote => true, :id => "private_feedback_form") do |f| %>
    <%= f.label :body %><br />
    <%= f.text_area :body, :id => "private_feedback_body" %><br />
    <%= f.hidden_field(:private, :value => true)%>
    <%= f.hidden_field :topic, :value => true%>    
    <%= f.submit 'Provide feedback' %>
<% end %>

<br/>
<p>----------------------------</p>
<% end %> 
<%end%>


<%= link_to 'Back', idea_postings_path %>