
<!--tabs-->
<div id="content">
    <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
        <li class="active"><a href="#idea_details" data-toggle="tab">Idea Details</a></li>
        <li><a href="#public_comments" data-toggle="tab">Comments</a></li>
     <% if logged_in? %>
     <% if @idea_posting.users.exists?(current_user.id) || current_user.teacher || current_user.admin %>    
        <li><a href="#private_comments" data-toggle="tab">Private Discussion</a></li>
     <%end%>
     <%end%>
    </ul>

    <div id="my-tab-content" class="tab-content">
    	
    	<!--public comments-->
        <div class="tab-pane" id="public_comments">
			<h2 id = "discussion_header">Discussion</h2>

			<div class="feedback" id ="existing_feedback">
				<%= render :partial => "topics_list", :locals => {:feedbacks => @idea_posting.public_feedbacks} %>
			</div> 

			<% if logged_in? %>	
				<%= render "feedbacks/topic_form_public"%>
			<% end %>
	
        </div>
        
        <!--private comments-->
      	<% if logged_in? %>
        <% if @idea_posting.users.exists?(current_user.id) || current_user.teacher || current_user.admin %>        
        <div class="tab-pane" id="private_comments">
  
			<h2 id = "discussion_header">Discussion</h2>
			<div class="feedback" id ="existing_private_feedback">
				<%= render :partial => "topics_list", :locals => {:feedbacks => @idea_posting.private_feedbacks} %>
			</div> 

			<% if logged_in? %>	
				<%= render "feedbacks/topic_form_private"%>
			<% end %>
	
        </div>
					

        </div>
		<% end %> 
		<%end%>        
        
        
        <!--posting details-->
        <div class="tab-pane active" id="idea_details">
            <%= render @idea_posting %>
        </div>
        
    </div>
</div>

<script id = "tab_management">

$(function(){
	
	$('.nav-tabs > li').click(function(){
		var id = $(this).children("a").attr("href").slice(1);
		
		$('.nav-tabs > li').attr("class", "");
		$('.tab-pane').hide();
		
		$(this).attr("class", "active");
		$('.tab-pane[id="'+id+'"]').show();
		
		/*
		*if(id == "public_comments"){
		*	$('.tab-pane[id="'+id+'"] > #existing_feedback').html('<%= j render :partial => "topics_list", :locals => {:feedbacks => @idea_posting.public_feedbacks} %>');	
		*	console.log("asdf");		
		*}
		*else if (id == "private_comments"){
		*	$('.tab-pane[id="'+id+'"] > #existing_private_feedback').html('<%= j render :partial => "topics_list", :locals => {:feedbacks => @idea_posting.private_feedbacks} %>');						
		*}
		*/
				
	});

});
</script>





