
<!DOCTYPE html>
<html>


<head>
  <title>Ideagarden</title>
  <% if @idea_posting != nil && @idea_posting.id != nil%>

  	<meta property="og:url" content="<%=request.base_url+idea_posting_path(@idea_posting.id)%>"/>	  
	<meta property="fb:app_id" content="<%=ENV["FACEBOOK_APP_ID"]%>" /> 
	<meta property="og:type" content="<%=ENV["FACEBOOK_APP_NAMESPACE"]%>:project_idea" /> 	
	<meta property="og:title" content="<%=@idea_posting.name%>" />
	
	<% if @idea_posting.photo_file_size == nil %>
	<meta property="og:image" content= "<%=request.base_url+"/assets/logo.png"%>"/>
	<%else%>
	<meta property="og:image" content= "<%=@idea_posting.photo_url(:original)%>"/>	
	<%end%>
	<meta property="<%=ENV["FACEBOOK_APP_NAMESPACE"]%>:pitch" content="<%=@idea_posting.pitch%>" />
	<%end%>

    
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  
</head>

<body>
	
<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    // init the FB JS SDK
    FB.init({
      appId      : <%= ENV['FACEBOOK_APP_ID']%>,                        // App ID from the app dashboard
      channelUrl : '<%=root_path%>/channel.html', // Channel file for x-domain comms
      status     : true,                                 // Check Facebook Login status
      xfbml      : true                                  // Look for social plugins on the page
    });

    // Additional initialization code such as adding Event Listeners goes here
   
  };
  

  // Load the SDK asynchronously
  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/all.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
   
   
 
</script>



	
  <table id='header'>
  	<tr>
  		<td><h1><%= link_to image_tag('logo.png', id: 'logo'), root_path %></h1></td>
    	
    	<% if logged_in? == false %>
    	

        <td class="menu-item"><%= link_to "Login", login_path, :id => "login", :remote => true %>
 		<%= link_to image_tag("caret_down_gray.png", :id => "caret_down_gray", :class => "form_caret", :height => "12px", :width => "12px"), login_path+"?form_opened=true", :remote => true%>  	
  		<%= link_to image_tag("caret_up_gray.png", :id => "caret_up_gray", :class => "form_caret", :height => "12px", :width => "12px"), login_path+"?form_opened=false", :remote => true%>        	
        	
        	
        </td>
        <%if false%>
        <td class="menu-item"><%= link_to "Login through Facebook", "/auth/facebook?&state=login"%></td>
    	<td class="menu-item"><%= link_to "Register through Facebook", "/auth/facebook?&state=register"%> </td>
        <%end%>     	
    	    
        <td class="menu-item"><%= link_to 'Register', new_user_path, :id => "register", :remote => false%></td>
        <td class="menu-item"><%= link_to 'Forgot password?', new_pw_reset_path%></td>

        
      <% else %>	
		    <td>
		    	<li class="dropdown">
		    		<a id="dropdown" class="dropdown-toggle" data-toggle="dropdown">
		    			<%= image_tag('people-icon.png')%>
		    			<% if logged_in? && current_user.profile != nil %>
		        		<%= current_user.profile.name %>
		        	<% else %>
		        		<%= "Profile" %>
		        	<% end %>
		        	<b class="caret white-caret"></b>
		      	</a>
		    		<ul class="dropdown-menu sub-menu">
		      			<li><%= link_to 'Profile', user_profiles_path(current_user.id)%></li>
		      		<%if current_user.profile == nil || current_user.profile.complete? == false%>
		      			<li><%= link_to 'Complete Profile', edit_user_profile_path(current_user.id, current_user.profile.id)%></li>		      			
		      		<%end%>
		      					    			
		    			
		    			
		      		<% if logged_in? && registration_complete? %>
		      			<li><%= link_to 'Inbox', private_messages_path %></li>
		      			<li><%= link_to "Requests ("+number_of_requests.to_s+")", list_joinrequests_path, :id => "pending_requests"%></li>	
		      			<li><%= link_to "Following", show_following_path %></li>
		      			<li><%= link_to "Followers", show_followers_path %></li>
		      			<li><%= link_to "Logout", logout_path %></li>
		      			
		      		<% end %>
		      		<% if logged_in? && registration_complete? == false %>
					  	 	<% unless current_user.confirmed == true %>
					  	 		<li><%= link_to 'Resend Confirmation Email', resend_user_confirmation_path%></li>
					  	 	<%end%>
					  	 	<li><%= link_to "Logout", logout_path, :remote => false%></li>
	  					<%end%>
		    		</ul>
		  		</li>
		  	</td>
		  <% end %>
					
			<td class="menu-item">
				<%= image_tag('search-icon.png')%>
			</td>
			<td>
				<%= form_tag("/search_by_name", method: "post", name: "search_form", class: "control-label search-text") do %>
					<input type="text" id="title" name="title" placeholder="Title" class="form-field">
					<select id="search-dropdown">
            <option>Technology</option>
            <option>Science and Math</option>
            <option>Language</option>
            <option>Art</option>
            <option>Community Service</option>
            <option>Research</option>
            <option>Making Things</option>
          </select>
		    <% end %>
	    </td>
	          
	          
		<%if false%>		
			<td class="menu-item">
	    	<%= image_tag('newpost-icon.png')%>
	    	<%= link_to 'New Idea Posting', new_idea_posting_path %>
	    </td>
	    <%end%>
				
     		
    </tr>  
	   

        
      
  </table>
  </div>
  

  <div id = "dummy">
  </div>  

  <div id = "filters">
  	<br/>
  	<h4>Find Ideas!</h4> 
  	
  	<h5 id = "title">By Category</h5> <br/>
	<ul class="nav nav-pills nav-stacked">
  		<li class = "inactive" id = "technology"> <a href="#">Technology</a> </li>
  		<li class = "inactive" id = "science_and_math"><a href="#">Science & Math</a></li>
  		<li class = "inactive" id = "research"><a href="#">Research</a></li>
  		<li class = "inactive" id = "language"><a href="#">Language</a></li>  
  				
	</ul>
	
  	<h5 id = "title">By Focus</h5> <br/>
	<ul class="nav nav-pills nav-stacked">
  		<li class = "inactive" id = "making_things"> <a href="#">Making Things</a> </li>
  		<li class = "inactive" id = "art"><a href="#">Art</a></li>
  		<li class = "inactive" id = "community_service"><a href="#">Community Service</a></li>
	</ul>
	<%if current_user != nil%>
  	<h5 id = "title">Restrict by User</h5> <br/>
	<ul class="nav nav-pills nav-stacked">
  		<li class = "inactive" id = "followed_users"> <a href="#">Followed Users</a> </li>
  		<li class = "inactive" id = "followers"><a href="#">Followers</a></li>
	</ul>
	<%end%>

  		
  </div>
  

  
  <div id='wrapper'>
  		<div id = "test"></div>
	<div id = "test2"></div>

    <%= content_tag(:p, notice, :class => 'notice') if notice.present? %>
    <%= content_tag(:p, alert, :class => 'alert') if alert.present? %>

    <%= yield %>
    

  </div>


</body>
</html>















<script>
$(function() { 
$("#dropdown").click(function(){
  $('#dropdown').dropdown();
});
});

window.onload = $(function() { 
  $('#dropdown').dropdown();
});
</script>

<script>
	$('#search-bar').bind('keyup', function(e) {
    if ( e.keyCode === 13 ) { //enter key
    	redirect_to :controller => 'idea_postings', :action => 'search_by_name', :query =>$('#search-bar').val(), :something => 'else'
    }
	});
</script>
