
<!DOCTYPE html>
<html>


<head>
  <title>Ideagarden</title>
  <% if @idea_posting != nil && @idea_posting.id != nil%>

  	<meta property="og:url" content="<%=request.base_url+idea_posting_path(@idea_posting.id)%>"/>	  
	<meta property="fb:app_id" content="<%=ENV["FACEBOOK_APP_ID"]%>" /> 
	<meta property="og:type" content="<%=ENV["FACEBOOK_APP_NAMESPACE"]%>:project_idea" /> 	
	<meta property="og:title" content="<%=@idea_posting.name%>" />
	<meta property="og:image" content= "<%=request.base_url+"/assets/logo.png"%>"/>
	<meta property="<%=ENV["FACEBOOK_APP_NAMESPACE"]%>:pitch" content="<%=@idea_posting.pitch%>" />
	<%end%>

    
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  
</head>

<body>
	


<div id="main_container">
	
	<h3> <%=image_tag('logo.png', id: 'main_logo')%></h3>
	<h4>
		<strong id = "start" class = "strong_green">Launch</strong> and <strong class = "strong_blue">get involved</strong> in <span id = "project_category">extracurricular</span> projects!
	</h4>
	
	<div id = "featured_posts" class = "thumbnail">
	<div id="featured_post_text_filler"></div>	
			
			<% IdeaPosting.featured_posts.each_with_index do |posting, index| %>
				<%= render :partial => "idea_postings/featured_posting", :locals => {:idea_posting => posting, :posting_class => index.to_s+ ((index==0) ? " visible" : " hidden")  } %>				
			<%end%>
		
		<%= image_tag('caret_right.png', id: "featured_right_caret", class: "featured_right_caret")%>
		<%= image_tag('caret_left.png', id: "featured_left_caret", class: "featured_left_caret")%>
	
	
	</div>
	<br/>

<div id = "main_form">	
<%= yield%>
</div>


  <script id = "form_validations">
  
	$(function(){
  		$('#registration_post_container > input').click(function(){
  			if($('#user_email').val().match(/[a-zA-Z0-9]+@[a-zA-Z]+[.][a-zA-Z.]+/) == null){
				event.preventDefault();
				$('#user_email').errorMessage("Please enter a valid email address");
 			}	 				
		
	  		if($('#user_password_hash').val().length < 6){
				event.preventDefault();
				$('#user_password_hash').errorMessage("Make sure your password is at least 6 characters long");
 			}	
 		
	  		if($('#user_password_hash_confirmation').val() != $('#user_password_hash').val() ){
				event.preventDefault();
				$('#user_password_hash_confirmation').errorMessage("Password does not match confirmation");
 			}	 		
  		});	
		
	});  


 		
  </script> 	
  
  
  <script id = "form_watermarks">
		$('#user_email').watermark("Email", {className: "centered_watermark"});  
		$('#user_password_hash').watermark("Password", {className: "centered_watermark"});
		$('#user_password_hash_confirmation').watermark("Confirm Password", {className: "centered_watermark"});
  </script>








	
	


<div>

	
</body>
